* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 70vh;
    background-color: #FFCD9E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-header h1,
.left-header p,
.left-header h4,
.box,
.left-header h5 {
    margin-bottom: 2rem;
    margin-left: 100px;
}

.box input {
    width: 250px;
    height: 30px;
    border-radius: 4px;
}

.box button {
    width: 150px;
    height: 35px;
    background-color: #282828;
    color: #FFFFFF;
    margin-left: 5px;
    border-radius: 4px;
}

.left-header h5 {
    color: #FFFFFF;
    margin-left: 140px;
}

.right-header {
    width: 900px;
    height: 575px;
    text-align: right;
}

.footer {
    width: 100%;
    height: 30vh;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
    margin-bottom: 5px;
}

.left-footer {
    color: #FFFFFF;
    margin-left: 180px;
}

.right-footer {
    color: #FFFFFF;
    margin-right: 180px;
    text-align: right;
}

.social-icon {
    border-radius: 3px;
    color: #FFCD9E;

}

.email {
    margin-top: 20px;
}